@media (max-width: 2000px) {
    div {
        background-color: aqua;
        font-size: 1.5rem;
    }
}

@media (max-width: 750px) {
    div {
        background-color: red;
        font-size: 1.75rem;
    }
}

@media (max-width: 500px) {
    div {
        background-color: hotpink;
        font-size: 2rem;
    }
}

